<div class="outerdiv" data-spy="scroll" data-target=".navbar" data-offset="50">
                       <!-- Navigation Bar -->

    <nav class="navbar navbar-inverse sticky-top navbar-fixed-top">
        <div class="container-fluid">
            <div>
                <div id="myNavbar">
                    <ul class="nav navbar-nav list-group-horizontal letter">

                        <li><a class="letter" href="#section1">About</a></li>
                        <li><a class="letter" href="#section2">Skills</a></li>
                        <li><a class="letter" href="#section3">Projects</a></li>
                        <li><a class="letter" href="#section4">Experience</a></li>
                        <li><a class="letter" href="#section5">Contacts</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>

                   <!-- About Section -->

    <div id="section1" class="container-fluid">

        <div class="html">
            <div id='stars'></div>
            <div id='stars2'></div>
            <div id='stars3'></div>
            <div id='title'></div>
        </div>

        <div class="row">

            <div class="aboutOuter">
                <div class="about">
                    <h1>Hello</h1>

                    <h2>I'm <span class="animate-charcter">&nbsp; Pallavi Myalesi</span></h2>

                    <h3>I'm a highly motivated <span class="name"> software </span> engineer. </h3><br>
                    <p>Analytical, committed, persistent, individual team member who would like to work in a challenging
                        environment. </p>
                    <p> Continuously learning and acquiring new knowledge and skills.</p>
                    <p> Having a good understanding of the tools that are needed to fulfill the responsibility & reach
                        goals.</p><br>
                    <a href="#section5"> <button style="font-size: 14px;" class="btn btn-primary">Contact
                            me</button></a>

                </div>
            </div>
        </div>
    </div>

                  <!-- Skills Section -->
    <div id="section2" class="container-fluid ">
        <h1 class="name w3-container w3-center w3-animate-top w3-animate-top1">Skills:</h1>
        <div class="row ">
            <div class="col-sm-6 text-center skillouter ">
                <div class="skillcenter">
                    <div class="skill p-3 w3-container w3-center w3-animate-left w3-animate-left1"> Html</div><br>
                    <div class="skill p-3 w3-container w3-center w3-animate-left w3-animate-left2"> CSS</div><br>
                    <div class="skill p-3 w3-container w3-center w3-animate-left w3-animate-left3"> Javascript</div><br>
                    <div class="skill p-3 w3-container w3-center w3-animate-left w3-animate-left4">Bootstrap</div><br>
                    <div class="skill p-3 w3-container w3-center w3-animate-left w3-animate-left5"> Angular</div><br>
                </div>

            </div>
            <div class="col-sm-6 text-center ">
                <div class="skillcenter">
                    <div class="skill p-3 w3-container w3-center w3-animate-right w3-animate-right1"> Jquery</div><br>
                    <div class="skill p-3 w3-container w3-center w3-animate-right w3-animate-right2"> Java</div><br>
                    <div class="skill p-3 w3-container w3-center w3-animate-right w3-animate-right3"> Core Java</div>
                    <br>
                    <div class="skill p-3 w3-container w3-center w3-animate-right w3-animate-right4">MySQL</div><br>
                    <div class="skill p-3 w3-container w3-center w3-animate-right w3-animate-right5"> Git</div><br>
                </div>
            </div>
        </div>


    </div>

                       <!-- Projects section -->
    <div id="section3" class="container-fluid ">
        <h1 class="name w3-container w3-center w3-animate-top w3-animate-top2">Projects</h1>
        <div class="row">
            <div class="col-sm-12 name text-center HRM">
                <h1 class="musich1">Music Projects</h1>
                <img src="../../assets/musicProject.jpeg" alt="" width="900px">
            </div>
            <div class="col-sm-12 name text-center HRM">
                <p class="musich1">This Music Project is about playing music. You can play any song in the Playlist and
                    have a nice experience</p>
                <p class="musich1">The technologies involved are HTML, CSS, JavaScript, Bootstrap, Jquery, Angular</p>
                <div>
                    <span style="padding: 0px 5px; font-size: 18px;"><button class="btn btn-info"><a
                                routerLink="projects/music" target="_blank"
                                style="text-decoration:none; color:black">Live Demo</a></button></span>
                    <span style="padding: 0px 5px;font-size: 18px;"><button class="btn btn-primary"><a target="_blank"
                        style="text-decoration:none; color:black" href="https://github.com/PallaviMyalesi/MusicProject">Source code</a></button></span>
                </div>
            </div>
        </div>
    </div>

                           <!-- Education and Experience -->
    <div id="section4" class="container-fluid ">
        <h1 class="name w3-container w3-center w3-animate-top w3-animate-top3">Education and Experience:</h1>
        <div class="container">

            <ul id="timelineulid">
                <li style="--accent-color:#41516C" class=" w3-animate-left w3-animate-left8">
                    <div class="date">2022</div>
                    <div class="title" style="color:#41516C ;">Software Engineer </div>
                    <div class="descr">I have promoted as a software Engineer on October 2022 in Mphasis. </div>
                </li>
                <li style="--accent-color:#FBCA3E" class=" w3-animate-right w3-animate-right6">
                    <div class="date">2021</div>
                    <div class="title" style="color:#FBCA3E ;">Associate Software Engineer</div>
                    <div class="descr">I have joined Mphasis on september 2021 as Associate sotware Engineer.</div>
                </li>
                <li style="--accent-color:#E24A68" class=" w3-animate-left w3-animate-left6">
                    <div class="date">2021</div>
                    <div class="title" style="color: #E24A68;">Engineering</div>
                    <div class="descr"> I have completed my Engineering from RNSIT college Bengaluru, Karnataka with 8.5
                        CGPA.</div>
                </li>
                <li style="--accent-color:#1B5F8C" class=" w3-animate-right w3-animate-right7">
                    <div class="date">2017</div>
                    <div class="title" style="color:#1B5F8C ;">PUC</div>
                    <div class="descr">I have completed my PUC from Nalanda PU College Kalburgi,Karnataka with 82%.
                    </div>
                </li>
                <li style="--accent-color:#4CADAD" class="w3-animate-left w3-animate-left7">
                    <div class="date">2015</div>
                    <div class="title" style="color:#4CADAD;">SSLC</div>
                    <div class="descr">I have completed my SSLC from SMVVS School Afzalpur, Kalburgi, Karnataka with
                        91%. I was 3rd topper in the school.</div>
                </li>
            </ul>
        </div>
        <hr>
    </div>

                        <!-- Contacts section -->
    <div id="section5" class="container-fluid">
        <!-- <h1>Contacts:</h1> -->
        <div class="row py-5 padtop ">

            <div class="col-sm-6 container-fluid text-center">
                <h1 class="contacts contacts1"> Contacts</h1>

            </div>
            <div class="col-sm-6 ">
                <div class="container-fluid list-inline text-center align-middle ms-4">
                    <h1 class="contacts">Pallavi Myalesi</h1>
                    <h4 class="contacts">Email:myalesipallavi@gmail.com</h4>
                    <ul class="list-inline text-center align-middle ms-4">

                        <li><a href="#"><i class="fa fa-linkedin social social2" aria-hidden="true"></i></a></li>
                        &nbsp;&nbsp;&nbsp;

                    </ul>
                </div>
            </div>

        </div>

    </div>